{% extends "flight_app/index.html" %}
{% load static %}


{% block title %}Flights | Contact Us{% endblock %}
{% block header %}<H1>Contact Us</H1>{% endblock %}
{% block main_body %}
<p>
  <table >
    <col style="width:30%">
    <col style="width:30%">
    <col style="width:30%">
    <tbody>
      <tr>
        <td><strong>Department</strong></td>
        <td><strong>Phone number</strong></td>
        <td><strong>Emails</strong></td>
      </tr>
      <tr>
        <td>Lost Baggage</td>
        <td>(<a href="tel:0827354724">0827354724</a>)</td>
        <td><a href="mailto:Lostbaggage@live.com"> Lostbaggage@live.com </a></td>
      </tr>
      <tr>
        <td>Sales</td>
        <td>(<a href="tel:0862537252">0862537252</a>)</td>
        <td><a href="mailto:sales@live.com"> sales@live.com </a></td>
      </tr>
      <tr>
        <td>Parking</td>
        <td>(<a href="tel:0846378273">0846378273</a>)</td>
        <td><a href="parking@live.com"> parking@live.com </a></td>
      </tr>
      <tr>
        <td>Terminals</td>
        <td>(<a href="tel:0864376576">0864376576</a>)</td>
        <td> <a href="terminal@live.com"> terminal@live.com </a></td>
      </tr>
      <tr>
        <td>Managment</td>
        <td>(<a href="tel:0872745834">0872745834</a>)</td>
        <td><a href="mailto:management@live.com">management@live.com</a></td>
      </tr>
      <tr>
        <td>Transit</td>
        <td>(<a href="tel:0856710974v">0856710974</a>)</td>
        <td><a href="mailto:transite@live.com"> transite@live.com </a></td>
      </tr>


    </tbody>
  </table>
</p>
{% endblock %}
